<link rel="stylesheet" href="/css/capacitacion.css">

<body>
    <nav>
        <img class="image" src="/img/logo.png" alt="Security Vault" height="60px">
        <ul>
            <li><a href="http://localhost:4200/cars/list/1">Regresar</a></li>
            <li><a href="/">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <h1>¿Que es la ley de proteccion de datos personales?</h1>
    <div class="container">
        <div class="capacitacion">
            <p>
                La protección de datos personales es un tema muy
                importante en la actualidad. La protección de datos se refiere a las prácticas,
                salvaguardas y principios fundamentales puestos en ejercicio para proteger tu información personal
                y asegurar que te mantengas en control de ella
            </p>
            <li>
                La protección de datos personales es un derecho fundamental protegido por la Constitución española.
            </li>
            <li>La Ley de Protección de Datos Personales reconoce y protege el derecho que tienen todas las personas a
                conocer,
                actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos
                que
                sean susceptibles de tratamiento por entidades de naturaleza pública o privada.
            </li>
            <br>
            <p>
                El responsable o usuario del archivo de datos debe adoptar las medidas técnicas y organizativas que
                resulten
                necesarias para garantizar la seguridad y confidencialidad de los datos personales, de modo de evitar su
                adulteración, pérdida, consulta o tratamiento no autorizado, y que permitan detectar desviaciones,
                intencionales o no, de información, ya sea que los riesgos provengan de la acción humana o del medio
                técnico
                utilizado
            </p>
            <p>
                Estas leyes generalmente establecen los derechos de acceso, rectificación, cancelación y oposición al
                tratamiento de los datos personales, y definen las obligaciones de las entidades que manejan estos
                datos.
            </p>
            <b><p>¿Como puedo proteger mis datos personales?</p></b>
            <p>
                <b>Protege tus dispositivos:</b>
                Mantén actualizados tu programa de seguridad, navegador de internet y sistema
                operativo.
                Los delincuentes buscan puntos débiles para explotarlos antes de que las compañías puedan
                resolver esa vulnerabilidad. Asegúrate de actualizar lo siguiente:
            </p>
            <li>Programa de seguridad</li>
            <li>El Software de tu sistema operativo</li>
            <li>Las navegaciones de internet y las aplicaciones</li>
            <br>
            <p>
                <b>Protege tus cuentas</b>
                Después de controlar que tu computadora, tablet y teléfono estén protegidos, toma medidas para proteger
                tus
                cuentas, especialmente aquellas cuentas con información personal. Algunas recomendaciones son:
            </p>
            <li>Crea y usa contraseñas sólidas. Eso significa un mínimo de 12 caracteres</li>
            <li>Usa un sistema de autenticación de múltiples factores.</li>
        </div>
    </div>

    {{!-- <footer>
        <p>
            <a href="#">Términos y condiciones</a> |
            <a href="#">Política de Privacidad</a> |
            <a href="#">Aviso Legal</a>
        </p>
    </footer> --}}
</body>