<link rel="stylesheet" href="/css/eleccionGeneral.css">

        <nav>
            <img class="image" src="/img/logo.png" alt="Security Vault" height="60px">
            <ul>
                <li><a href="/">Cerrar Sesion</a></li>
            </ul>
        </nav>

<form action="/generalList/" method="get" id="ocultar">
    <div class="contenedor">
        <div id="titulo">
            <h3>Ingresa la contraseña de tus sitios favoritos</h3>
        </div>

        <div id="autos">
            <a href="/cars/list/{{user.idUsers}}">
                <button type="button">
                    <img  src="/img/logos/plataforma.png" alt="">
                    <h3>Plataformas</h3>
                </button>
            </a>
        </div>
    </div>
</form>