<link rel="stylesheet" href="/css/eleccionGeneral.css">

<form action="/generalList/" method="get" id="ocultar">
    <div id="contenedor">
        <div id="titulo">
            <h3>Ingresa la contraseña de tus sitios favoritos</h3>
        </div>

        <div id="autos">
            <a href="/cars/list/{{user.idUsers}}">
                <button type="button">
                    <img src="/img/logos/plataforma.png" alt="">
                    <h3>Plataformas</h3>
                </button>
            </a>
        </div>
        </div>
    </div>
</form>