@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body{
    background-color: #e2caaeb4;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}
nav {
    height: 80px;
    background: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
nav ul {
    display:  flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;

}
a:hover{
    text-decoration: none;
    color: #000;
}
nav ul li a:hover,
nav ul li a:active{
    color: #1b1b1b;
    background: #90d47f;
    text-decoration: none;
}
nav #menu-btn i{
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;
    display: none;
}
h1{
    text-align: center;
}
.contaier{
    max-height: 300px;
    max-width: 100px;
}
.capacitacion{
    position: fixed;
    top: 380px;
    left: 100px;
    display: flex;
    width: 1300px;
    height: 169px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}