@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}
.contenedor{
    text-align: center;
    position: fixed;
    top: 300px;
    left: 530px;
    background-color: #3d3c3c1f;
    width: 400px;
    height: 160px;
}
nav {
    height: 80px;
    background: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
nav ul {
    display:  flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;

}
a:hover{
    text-decoration: none;
    color: #000;
}
nav ul li a:hover,
nav ul li a:active{
    color: #1b1b1b;
    background: #90d47f;
    text-decoration: none;
}
nav #menu-btn i{
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;
    display: none;
}
.titulo{
    font-size: 30px;
}
.input{
    width: 330px;
    height: 40px;
    text-align: center;
    border-radius: 1px solid ;
}
.boton{
    position: fixed;
    font-weight:100px;
    top: 400px;
    left: 680px;
    background-color: #90d47f;
    width: 100px;
    height: 30px;
    border: 1px;
}
#imagen {
    width: 55%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 25px;
    border: white solid 2px;
}
