@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    background-image: url("/img/background_2.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}
.contenedor{
    text-align: center;
    position: fixed;
    top: 180px;
    left: 530px;
    background-color: #1b1b1b1f;
    width: 400px;
    height: 470px;
}
#titulo{
    position: fixed;
    top: 220px;
    left: 610px;
}
.usuario{
    position: fixed;;
    top: 280px;
    left: 560px;
    font-size: 30px;
}
.input-usuario{
    position: fixed;
    top: 330px;
    left: 560px;
    width: 330px;
    height: 40px;
    padding-left: 10px;
}
.contraseña{
    position: fixed;;
    top: 380px;
    left: 560px;
    font-size: 30px;
}
.input-contraseña{
    position: fixed;
    top: 430px;
    left: 560px;
    width: 330px;
    height: 40px;
    padding-left: 10px;
}
.botonIniciarSesion{
    position: fixed;
    font-weight:100px;
    top: 500px;
    left: 680px;
    background-color: #90d47f;
    width: 110px;
    height: 30px;
    border: 1px;
}
nav ul {
    display:  flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}
a:hover{
    text-decoration: none;
    color: #000;
}
nav ul li a:hover,
nav ul li a:active{
    color: #1b1b1b;
    background: #87be66;
    text-decoration: none;
}
nav #menu-btn i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav {
    height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    position: relative;
    top: 8px;
    left: 1300px;
    text-decoration: none;
}
.image{
    position: fixed;
    left: 43px;
}
/* #botonIniciarSesion {
    width: 100%;
    height: 100%;
    max-width: 40%;
    max-height: 7.5%;
    position: absolute;
    bottom: 5%;
    left: 30%;
    border-radius: 10px;
} */

/* #botonIniciarSesion button {
    max-width: 100%;
    max-height: 100%;
} */